@import url('hhtp://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Orbitron', sans-serif;;
	 
}
body{
	background:#222;
	min-height:200vh;
}
section{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	pointer-events:none;
	z-index:2;
}
section .side{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;	
}
section .side#side1{
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
section .side#side2{
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}
section .side img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;	
	object-fit:cover;
}
section .side video{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;	
	object-fit:cover;
}

.content{
	color:#fff;
	padding:50px;
	margin-top:150vh;
}
.content h2{
	font-size:3em;
}
.content h3{
	font-size:1.2em;
}
.content p{
	font-size:1.1em;
}
/*what im good at*/
.body1{
margin:0;
padding:0;
min-height:60vh;
display:flex;
justify-content:center;
align-items:center;
font-family:consolas;
}
.container{
width:1000px;
position:relative;
display:flex;
justify-content:space-between;
}
.face{
width:300px;
height:200px;
transition:0.5s;
}
.face1{
position:relative;
background:#333;
display:flex;
justify-content:center;
align-items:center;
z-index:1;
transform: translateY(100px);
}
.card:hover .face1{
background:#ff0057;
transform:translateY(0);
}
.contents{
opacity:0.2;
transition:0.5s;
}
.card:hover .contents {
opacity:1;
}
.contents img {
max-width:100px;
}
.contents h3 {
margin:10px 0 0;
padding:0;
color:#fff;
text-align:center;
font-size:1.5em;
}

.face2{
position:relative;
color:black;
background:#fff;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
box-sizing:border-box;
box-shadow:0 20px 50px rgba(0,0,0,0.8);
transform: translateY(-100px);
}
.card:hover .face2{
transform:translateY(0);
}
.face2 .contents p{
margin:0;
padding:0;
}


/*skill provided*/
.column {
  float: left;
  width: 32%;
  padding: 0 20px;
}
.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.cardskill {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #333;
}



/*footer*/
.site-footer
{
  padding:50px;
  font-size:12px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.instagram:hover
{
  background-color:#8a3ab9
}
.social-icons a.github:hover
{
  background-color:#171515 
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}